
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

  *{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  .container_fluid{
    background-color: #f5f5f5;
    min-height: 100vh;
    position: relative;
  }
  .container{
    width: 60% !important;
    min-height: 91vh;
  }
  ::placeholder{
    font-weight: 500 !important;
  }
  .form-control{
    outline:0;
    border:none !important;
    background-color: #f5f5f5 !important;
    margin-bottom: 1rem !important;
    resize: none;
  }
  .form-control:focus{
    border: none !important;
    box-shadow: none !important;
  }
  .footer{
   display: flex;
   width: 100%;
   
   flex-direction: column;
   background-color: #1976d2;
   margin-top: .5rem; 
  }
  @media (max-width: 1200px) {
    .container{
      width: 80% !important;
    }
    

  }

  @media (max-width: 900px) {
    .container{
      width: 90% !important;
    }
    
    .modalbox{
      min-width: 80%;
    }

  }

  @media (max-width: 540px) {
   
    .modalbox{
      min-width: 95%;
    }
  }